cfiler_native/Release/
cfiler_native/Debug/
cfiler_native.pyd
dist/
doc/html/
build/
Release/
Debug/
doc/obj/
lib/
library.zip
instfiles.nsh
uninstfiles.nsh
python38.dll
*.pdb
*.lib
*.exp
*.ilk
*.vcxproj.user
*.ipdb
*.iobj
*.VC.db
cfiler.exe
cfiler_d.exe
__pycache__/
cfiler_native/.vs/
.vs/
/dict/han2zen.dat
/dict/hira2kata.dat
/dict/migemo-dict
/dict/roma2hira.dat
/dict/zen2han.dat
