cfiler_native/Release/
cfiler_native/Debug/
cfiler_native.pyd
dist/
doc/html/
build/
Release/
Debug/
doc/obj/
lib/
library.zip
cfiler_native/cfiler_native.VC.opendb
instfiles.nsh
uninstfiles.nsh
python37.dll
cfiler_native.pdb
cfiler_native.lib
cfiler_native.exp
cfiler_d.pdb
cfiler_d.ilk
cfiler_d.exe
cfiler.vcxproj.user
cfiler.sdf
cfiler.pdb
cfiler.ipdb
cfiler.iobj
cfiler.exe
cfiler.aps
__pycache__/
cfiler_native/.vs/
.vs/
cfiler_native/cfiler_native.sdf
