__pycache__
cfiler_native/mac/cfiler_native.xcodeproj/project.xcworkspace/contents.xcworkspacedata
cfiler_native/mac/cfiler_native.xcodeproj/project.xcworkspace/xcuserdata/craftware.xcuserdatad/UserInterfaceState.xcuserstate
cfiler_native/mac/cfiler_native.xcodeproj/xcuserdata/craftware.xcuserdatad/xcschemes/cfiler_native.xcscheme
cfiler_native/mac/cfiler_native.xcodeproj/xcuserdata/craftware.xcuserdatad/xcschemes/xcschememanagement.plist
cfiler_native/mac/cfiler_native/cfiler_native-Prefix.pch
config.py
cfiler_native.xccheckout
*.tmp
cfiler.ini
build
dist
